body{background-color: lightgoldenrodyellow;}

h2{
    text-align:center; 
    text-shadow: 4px 4px 4px #aaa;
    border-style: double; 1px white;
    font-family: 'times';
    font-size: 40px;
}


     